@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.home-input-field{
  width: 90%;
  height: 700px;
  border-radius: 5px;
}

.slider-img{
  /* width: 1200px; */
  max-height: 400px;
  min-height: 200px;
}

.car-form-bg-color{
  background-color: #90B0CD;
}

.home-car-form-btn{
  background-color: #1B5D98;
  color: #fff;
}

.footer-icon-menu{
  margin-right: 5px;
}
.footer-icon{
  color: #fff;
  width: 30px;
  height: 30px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* z-index: 1; */
  /* position: relative; */
  z-index: 10;
  /* width: 100%; */
  background-color: white;
  padding: 0 8px;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dd-parent{
  display: flex;
  flex-direction: column;
  position: relative;
}

.dd-parent input{
  width: 100%;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.dashboard-sidebar-menu{
  position: absolute;
  bottom: 2rem;
  width: 100%;
  right: 0;
  padding-left: 40px;
  
}

.leads-btn{
  border: 1px solid #374151;
  width: 130px;
  padding: 4px;
  border-radius: 25px;
}
.settings-btn{
  border: 1px solid #374151;
  width: 130px;
  padding: 4px;
  border-radius: 5px;
}


.navbar-icon{
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

.tags-input-container{
  /* border: 1px solid rgb(194, 192, 192); */
  padding: .5em;
  border-radius: 10px;
  background-color: white;
  /* width: min(80vw, 600px); */
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
}
.tags-input-container input{
  background-color: transparent;
}

.tag-item{
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: .25em .75em;
  border-radius: 15px;
}
.tag-item .close{
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input{
  flex-grow: 1;
  padding: .5em 0;
  border: none;
  outline: none;
}

.w-ads{
  width: 96%;
}

.container-scroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container-scroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}